@use 'base/variables' as v;
@use 'base/mixins' as m;

.header__nav {

    .burger {

        display: block;

        @include m.tablet {
            display: none;
        }

        cursor: pointer;

        .line {
            width: 34px;
            height: 3px;
            margin: 7px;
            background-color: v.$white;
            -o-transition: all 300ms;
            -moz-transition: all 300ms;
            -webkit-transition: all 300ms;
            transition: all 300ms;
        }
    
        &.burger-toggle {

            .line-1 {
                transform: rotate(45deg) translate(5px, 9px);
            }
            .line-2 {
                opacity: 0;
            }
            .line-3 {
                transform: rotate(-45deg) translate(5px, -9px);
            }
        }
    }

}