@use 'base/variables' as v;
@use 'base/mixins' as m;


.nav__responsive {
    position: absolute;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    background-color: v.$black;
    z-index: 9999;
    margin: 0;
    display: flex;
    align-items: center;
    -o-transition: left 300ms;
    -moz-transition: left 300ms;
    -webkit-transition: left 300ms;
    transition: left 300ms;

    @include m.tablet {
        display: none;
    }

    .nav__responsive__links {
        list-style: none;
        padding: 0;
        margin: 0;

        .nav__item {
            margin: 15px 0;
        }

        .nav__link {
            color: v.$white;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 22px;
            font-family: v.$fontJosefin;
        }
    }

    &.show-nav {
        left: 0%;
    }
}