// COLORS
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$darkGray: hsl(0, 0%, 55%);
$veryDarkGray: hsl(0, 0%, 41%);

// TYPOGRAPHY
$fontAlata: 'Alata', sans-serif;
$fontJosefin: 'Josefin Sans', sans-serif;

// MEDIA QUERYS
$mobile: 540px;
$tablet: 768px;
$desktop: 1024px;